.container {
  grid-row: start-header/end-header;
  grid-column: start-header/end-header;
  background-color: var(--color-lighter);
  border-bottom: var(--border-thickness-md) solid var(--color-primary-light);
}
