.container {
  position: relative;
  flex-grow: 1;

  ul {
    display: flex;

    li {
      flex-shrink: 0;
      cursor: pointer;

      a {
        text-decoration: none;
      }
    }
  }

  ul.primary {
    flex-direction: row;

    @media only screen and (min-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }

  ul.secondary {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;

    @media only screen and (min-width: $breakpoint-lg) {
      flex-direction: row;
      top: unset;
      right: unset;
      left: 0;
      bottom: 0;
    }

    li {
      &.collapsed {
        display: none;
      }

      &.hidden {
        visibility: hidden;
      }
    }
  }
}
