.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-lg);
  font-size: var(--font-size-xl);
  color: var(--color-primary-md);

  .title {
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-secondary-lg);
  }

  .caption {
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-dark-md);
  }

  .link {
    margin: var(--spacing-lg) 0;
    text-decoration: none;
  }
}
