@mixin open {
  width: 100%;
}

@mixin closed {
  width: 0;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.container {
  @include box;
  @include open;
  @include hidden;
  z-index: 100;

  .fader {
    @include box;
    @include open;
    background-color: var(--color-light-lg);
  }

  .slider {
    @include box;
    @include closed;
    background-color: var(--color-light-md);
  }

  &.active {
    @include visible;

    .fader {
      animation: fade;
      animation-duration: var(--page-transition-duration);
      animation-iteration-count: 1;
    }

    .slider {
      animation: slide;
      animation-duration: var(--page-transition-duration);
      animation-iteration-count: 1;
    }
  }
}

@keyframes fade {
  0% {
    @include visible;
  }
  50% {
    @include visible;
  }
  100% {
    @include hidden;
  }
}

@keyframes slide {
  0% {
    @include closed;
    @include visible;
  }
  30% {
    @include open;
    @include hidden;
  }
  70% {
    @include closed;
    @include visible;
  }
  100% {
    @include closed;
    @include hidden;
  }
}
