.container {
  display: grid;
  grid-template-rows: [start start-navigation] auto [end-navigation start-main] 1fr [end-main start-footer] auto [end-footer end];
  grid-template-columns: [start start-navigation start-main start-footer] 1fr [end end-navigation end-main end-footer];
  width: 100%;
  height: 100%;
  background-color: var(--color-light);

  @media only screen and (min-width: $breakpoint-lg) {
    grid-template-rows: [start start-navigation start-main] 1fr [end-main start-footer] 3rem [end-navigation end-footer end];
    grid-template-columns: [start start-navigation] 6rem [end-navigation start-main start-footer] 1fr [end-main end-footer end];
  }
}
