.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  position: relative;
  grid-row: start-main/end-main;
  grid-column: start-main/end-main;
  background-color: var(--color-light-lg);
}
