// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Colors
$dark: 0;
$grey: 140;
$silver: 240;
$light: 255;

// Light theme
$color-primary-light-sm: #42a5f5;
$color-secondary-light-sm: #ffa726;

$color-primary-light-md: #1e88e5;
$color-secondary-light-md: #fb8c00;

$color-primary-light-lg: #1565c0;
$color-secondary-light-lg: #ef6c00;

// Dark theme
$color-primary-dark-sm: #2e7d32;
$color-secondary-dark-sm: #ff8f00;

$color-primary-dark-md: #43a047;
$color-secondary-dark-md: #ffb300;

$color-primary-dark-lg: #66bb6a;
$color-secondary-dark-lg: #ffca28;

// Size ratios
$size-ratio-sm: 0.8;
$size-ratio-lg: 1.5;
