html {
  --size-ratio: 1;

  // Colors
  --color-primary-sm: #{$color-primary-light-sm};
  --color-secondary-sm: #{$color-secondary-light-sm};

  --color-primary-md: #{$color-primary-light-md};
  --color-secondary-md: #{$color-secondary-light-md};

  --color-primary-lg: #{$color-primary-light-lg};
  --color-secondary-lg: #{$color-secondary-light-lg};

  --color-light-lg: rgba(#{$light-lg}, #{$light-lg}, #{$light-lg}, 1);
  --color-light-md: rgba(#{$light-md}, #{$light-md}, #{$light-md}, 1);
  --color-light-sm: rgba(#{$light-sm}, #{$light-sm}, #{$light-sm}, 1);
  --color-dark-sm: rgba(#{$dark-sm}, #{$dark-sm}, #{$dark-sm}, 1);
  --color-dark-md: rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 1);
  --color-dark-lg: rgba(#{$dark-lg}, #{$dark-lg}, #{$dark-lg}, 1);

  --color-fade-sm: rgba(120, 120, 120, 0.2);
  --color-fade-md: rgba(120, 120, 120, 0.4);
  --color-fade-lg: rgba(120, 120, 120, 0.6);

  --color-transparent: rgba(0, 0, 0, 0);

  // Font sizes
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 2.4rem;

  // Spacing
  --spacing-xs: 0.2rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 1.8rem;
  --spacing-xl: 2.4rem;

  // Icons
  --icon-size-xs: 1.8rem;
  --icon-size-sm: 2.4rem;
  --icon-size-md: 3.6rem;
  --icon-size-lg: 5.2rem;
  --icon-size-xl: 6.4rem;

  // Border
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;

  --border-thickness-sm: 0.1rem;
  --border-thickness-md: 0.2rem;
  --border-thickness-lg: 0.3rem;

  --transition-sm: 0.1s;
  --transition-md: 0.3s;
  --transition-lg: 0.5s;

  --box-shadow-sm: 0px 0px 3px rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 0.1);
  --box-shadow-md: 0px 0px 5px rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 0.1);
  --box-shadow-lg: 0px 0px 8px rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 0.2);

  --box-shadow-inset-sm: 0px 0px 4px inset
    rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 0.1);
  --box-shadow-inset-md: 0px 0px 8px inset
    rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 0.2);
  --box-shadow-inset-lg: 0px 0px 12px inset
    rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 0.3);

  --page-transition-duration: 1500ms;

  &[data-theme="dark"] {
    // Colors
    --color-primary-sm: #{$color-primary-dark-sm};
    --color-secondary-sm: #{$color-secondary-dark-sm};

    --color-primary-md: #{$color-primary-dark-md};
    --color-secondary-md: #{$color-secondary-dark-md};

    --color-primary-lg: #{$color-primary-dark-lg};
    --color-secondary-lg: #{$color-secondary-dark-lg};

    --color-light-lg: rgba(#{$dark-lg}, #{$dark-lg}, #{$dark-lg}, 1);
    --color-light-md: rgba(#{$dark-md}, #{$dark-md}, #{$dark-md}, 1);
    --color-light-sm: rgba(#{$dark-sm}, #{$dark-sm}, #{$dark-sm}, 1);
    --color-dark-sm: rgba(#{$light-sm}, #{$light-sm}, #{$light-sm}, 1);
    --color-dark-md: rgba(#{$light-md}, #{$light-md}, #{$light-md}, 1);
    --color-dark-lg: rgba(#{$light-lg}, #{$light-lg}, #{$light-lg}, 1);
  }

  &[data-size="sm"] {
    --size-ratio: #{$size-ratio-sm};
  }

  &[data-size="lg"] {
    --size-ratio: #{$size-ratio-lg};
  }
}
