// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$dark: 0;
$grey: 140;
$silver: 240;
$light: 255;

html {
  --size-ratio: 1;

  // Light shades
  --color-primary-light: #1e88e5;
  --color-secondary-light: #fb8c00;

  // Dark shades
  --color-primary-dark: #1565c0;
  --color-secondary-dark: #ef6c00;

  --color-lighter: #fafafa;
  --color-light: #eeeeee;
  --color-dark: #323232;
  --color-darker: #212121;

  --color-grey-sm: #eceff1;
  --color-grey-md: #cfd8dc;
  --color-grey-lg: #b0bec5;

  --color-transparent: rgba(0, 0, 0, 0);

  // Font sizes
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 2.4rem;

  // Spacing
  --spacing-sm: 0.5rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 2.4rem;

  // Icons
  --icon-size-sm: 1.6rem;
  --icon-size-md: 3.2rem;
  --icon-size-lg: 6.4rem;

  // Border
  --border-radius: 4px;

  --border-thickness-sm: 0.1rem;
  --border-thickness-md: 0.2rem;
  --border-thickness-lg: 0.3rem;

  --transition-sm: 0.2s ease;
  --transition-md: 0.3s ease;
  --transition-lg: 0.5s ease;

  --box-shadow-sm: 0px 0px 4px rgba(#{$dark}, #{$dark}, #{$dark}, 0.1);
  --box-shadow-md: 0px 0px 8px rgba(#{$dark}, #{$dark}, #{$dark}, 0.2);
  --box-shadow-lg: 0px 0px 12px rgba(#{$dark}, #{$dark}, #{$dark}, 0.3);

  --box-shadow-inset-sm: 0px 0px 4px inset
    rgba(#{$dark}, #{$dark}, #{$dark}, 0.1);
  --box-shadow-inset-md: 0px 0px 8px inset
    rgba(#{$dark}, #{$dark}, #{$dark}, 0.2);
  --box-shadow-inset-lg: 0px 0px 12px inset
    rgba(#{$dark}, #{$dark}, #{$dark}, 0.3);

  &[data-theme="DARK"] {
    // Light shades
    --color-primary-light: #ef6c00;
    --color-secondary-light: #1565c0;

    // Dark shades
    --color-primary-dark: #fb8c00;
    --color-secondary-dark: #1e88e5;

    --color-lighter: #212121;
    --color-light: #323232;
    --color-dark: #eeeeee;
    --color-darker: #fafafa;

    --color-grey-sm: #eceff1;
    --color-grey-md: #cfd8dc;
    --color-grey-lg: #b0bec5;
  }

  &[data-size="SM"] {
    --size-ratio: 0.75;
  }

  &[data-size="LG"] {
    --size-ratio: 1.5;
  }
}
