.container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: var(--icon-size-lg);
  font-size: var(--font-size-lg);
  color: var(--color-secondary-lg);
  padding: 0 var(--spacing-lg);
  animation: accordion 0.8s;
  animation-iteration-count: 1;

  @keyframes accordion {
    0% {
      letter-spacing: 0;
    }
    35% {
      letter-spacing: 1.6rem;
    }
    50% {
      letter-spacing: 0.5rem;
      opacity: 0.3;
    }
    65% {
      letter-spacing: 0.8rem;
    }
    80% {
      letter-spacing: -0.3rem;
    }
    100% {
      letter-spacing: 0;
      opacity: 1;
    }
  }
}
