.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
  padding: var(--spacing-sm);

  img {
    width: 100%;
    height: auto;
  }
}
