.container {
  position: relative;
  width: 300px;
  z-index: 10;

  .select {
    padding: var(--spacing-md);
    width: 100%;
    height: 100%;
    background-color: var(--color-lighter);
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-dark);
    cursor: pointer;
    appearance: none;

    &:focus ~ .icon {
      * {
        fill: var(--color-secondary-dark);
      }
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    right: var(--spacing-sm);
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
    transform: translateY(-50%);

    svg {
      width: 100%;
      height: auto;
    }

    * {
      fill: var(--color-primary-dark);
    }
  }
}
