.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-light);

  z-index: 999;

  @keyframes fade-animation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    40% {
      opacity: 1;
      visibility: visible;
    }
    60% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes slide-animation {
    0% {
      width: 0;
      opacity: 0;
      visibility: visible;
    }
    30% {
      width: 100%;
      opacity: 1;
    }
    70% {
      width: 100%;
      opacity: 1;
    }
    100% {
      width: 0;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.fade {
    animation: fade-animation;
  }

  &.slide {
    animation: slide-animation;
  }

  &.active {
    animation-duration: var(--page-transition-duration);
    animation-iteration-count: 1;
  }
}
