$size: 100vmin;
$speed: 30s;

.container {
  position: absolute;
  top: 100%;
  left: 100%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);

  .bubble {
    position: absolute;
    transition: var(--transition-md);

    &:nth-of-type(1) {
      top: calc(50% - (#{$size} * 0.49));
      left: calc(50% - (#{$size} * 0.49));
      width: $size;
      height: $size;
      background: var(--color-dark);
      border-radius: 48% 40% 62% 47% / 61% 49% 64% 43%;
      animation: rotate1 $speed infinite linear;
      z-index: 1;
      opacity: 0.07;

      &:hover {
        opacity: 0.3;
        background: var(--color-primary-md);
        animation-play-state: paused;

        + .bubble {
          opacity: 0.5;
          background: var(--color-dark);

          + .bubble {
            opacity: 0.5;
            background: var(--color-lighter);
          }
        }
      }
    }

    &:nth-of-type(2) {
      top: $size * 0.1;
      left: $size * 0.1;
      width: calc(100% - (#{$size} * 0.3));
      height: calc(100% - (#{$size} * 0.3));
      background: var(--color-lighter);
      border-radius: 41% 40% 50% 55% / 49% 52% 51% 43%;
      animation: rotate2 $speed infinite linear;
      z-index: 2;
      opacity: 0.8;

      &:hover {
        opacity: 0.4;
        background: var(--color-secondary-lg);
        animation-play-state: paused;

        + .bubble {
          opacity: 0.3;
          background: var(--color-dark);
        }
      }
    }

    &:nth-of-type(3) {
      top: $size * 0.2;
      left: $size * 0.2;
      width: calc(100% - (#{$size * 0.5}));
      height: calc(100% - (#{$size * 0.5}));
      background: var(--color-dark);
      border-radius: 42% 63% 51% 60% / 47% 62% 42% 52%;
      animation: rotate3 $speed infinite linear;
      z-index: 3;
      opacity: 0.05;

      &:hover {
        opacity: 0.5;
        background: var(--color-primary-lg);
        animation-play-state: paused;
      }
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(1turn);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(-2turn);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(2turn);
  }
}
